data
mlp_dataset*
cnn_dataset*
screenlog-MLP-step1.0
screenlog-MLP-step2.0
dense_test.py
screenlog.0
screenlog-CNN-step1.0
screenlog-CNN-step2.0
screenlog-CNN-step3.0
transformer_dataset_step1
Test_Pipeline/__pycache__/
Estimator_Transformer/01-Transformer_estimates_for_CNNs/lightning_logs
screenlog-Transformer-step1.0
transformer_dataset_step2